


header i {
  margin-left: 5px;
}
#title{
  padding-top: 20vh;
  color:#0365ae;
  font-size: 50px;
  /* padding-top: 5px; */
  display: flex;
  justify-content: center;
  /* white-space:nowrap; */
  text-shadow: -3px 3px 2px #2e365c;
  animation: titre ease 4s;
}
.ss_titre{

  display: flex;
  justify-content: center;
  color: #0365ae;
  font-size: 30px;
  margin-left: 10%;
  padding-top:10px;
  margin-bottom: 10px;
}
/*effet sur le titre*/
@keyframes titre{
  0% {
      opacity:0;
      transform:translateY(350px);
  }
  100% {
      opacity:1;
      transform: translateY(0px);
  }
}

#csa{
 background: url(../images/img/CSA-Fee.jpg)no-repeat;
  background-size: cover;
  margin-left: 10%;
  margin-right: 10%;
  height: 50vh;
  transition: transform .4s;
}


/*effet zoom sur l'image*/
#csa:hover{
  transform: scale(1.03);
}
.bio-text{
  margin-left: 10vw;
  margin-right: 10vw;
}

section .bio{
    width: 100%;
}
 .bio h3 { 
     font-size: 30px;
    color:#0365ae;
    margin-bottom: var(--bottom-margin);
    margin-left: 10%;
}
      
.bio p {
    color: rgb(50, 52, 68);
    line-height: var(--line-height);
    padding: 0.3rem 0;
}
.italic{
    margin-left: 10%;
    margin-right: 10%;
    font-style: italic;
    font-size: 15px;
}

  @media screen and (max-width: 720px) {
    #title{
      font-size: 30px;
      text-align: center;
      margin-left: 2vw;
      text-shadow: -2px 2px 1px #2e365c;
    }
    .ss_titre{
    margin:1vw 1vw;
    font-size: 20px;
    padding-top:10px;
    margin-bottom: 10px;
  }
  #csa{
    height: 20vh;
    width:90%
  }
    .bio-title{
      font-size:5px;
      margin-top:10vh;
      
    }
    .bio-text{
      margin:2vw;
      font-size:15px;
    }
    .italic{
      font-size:10px;
      margin:2vw;
    }
  }